*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
    scroll-behavior: smooth;
}

h3{
    margin: 1rem 0;
}


/*
COLOR PALETTE
*/
:root{
    --bgc-blue: #0084FD;
    --bgc-light-blue: #B5DDFF;

    --bgc-violet: #9792E5;
    --bgc-footer: #787878;

    --txt-white: #fff;
    --txt-black: #000;
}


/*
SEZIONE HEADER
*/
header{
    background-color: var(--bgc-blue);
    height: 80px;
}

.flex{
    display: flex;
}

.header-container{
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 0.75rem;
}

.menu ul{
    list-style: none;
}

ul a{
    text-decoration: none;
    padding: 0 1.5rem;
    color: var(--txt-white);
}

/*
REGOLE BOTTONI
*/
header .btn{
    color: var(--txt-black);
}

.btn{
    border-radius: 20px;
    text-decoration: none;
    
}

.btn-white{
    background-color: var(--txt-white);
}

.btn-blue{
    background-color: var(--bgc-blue);
    color: var(--txt-white);
}

.btn-small{
    padding: 0.5rem 1rem;
}

.btn i{
    color: var(--txt-white);
}

header .hamburger{
    font-size: 2rem;
    color: var(--txt-white);
}

header .nav-menu{
    display: none;
}


/*
SEZIONE DEMO APPLICATION
*/
#demo-app{
    margin: 1.5rem 0rem;
}

#demo-app h3{
    color: var(--bgc-blue);
}

#demo-app .card{
    background-color: var(--bgc-light-blue);
    padding: 20px;
    margin: 0 0.75rem;
    margin-bottom: 1.5rem;
    border-radius: 20px;
}

#demo-app .card1{
    padding: 0;
}

.card1 .card-txt{
    margin: 20px;
}

#demo-app .card p{
    margin: 2rem 0;
}

.card .btn i{
    color: var(--txt-white);
    margin-right: 0.5rem;
}

.card img{
    width: 70%;
    display: block;
}


/*
SEZIONE PLANNING
*/
#planning{
    background-color: var(--bgc-violet);
}

#planning .container{
    flex-direction: column;
    align-items: center;
    padding: 4rem 0 2rem 0;
}

#planning .card{
    margin: 1.5em;
}


/*
SEZIONE TESTIMONIAL
*/
#testimonial .container{
    padding: 1.5rem;
}

.section-center-text{
    text-align: center;
    margin: 2rem auto;
}

#testimonial .item{
    background-color: var(--bgc-violet);
    margin: 2rem 0;
    padding: 1.5rem;
    text-align: center;
    border-radius: 20px;
}

#testimonial .item>*{
    padding-right: 1.5rem;
}


/*
SEZIONE BENEFITS
*/
#benefits{
    background-color: var(--bgc-violet);
    padding: 2rem 0;
}

#benefits .card{
    background-color: white;
    padding: 1.5rem;
    margin: 1.5rem 1.5rem;
}


/*
SEZIONE ABOUT US
*/
#about-us .container>*{
    margin: 1.5rem 1.5rem;
}


/*
SEZIONE GET STARTED
*/
#get-started{
    background-color: var(--bgc-violet);
    padding: 2rem 1.5rem;
}


/*
REGOLE ALLINEAMENTO TESTO CENTRLE
*/
.middle-txt-container>*{
    margin: 1.5rem auto;
    text-align: center;
}

.middle-txt-container{
    max-width: 350px;
    margin: 0 auto;
}

.middle-txt{
    text-align: center;
}


/*
SEZIONE FOOTER
*/
footer{
    height: 100%;
    padding: 1.5rem 0;
    background-color: var(--bgc-footer);
}








/*
REGOLE MEDIA QUERY
*/

/*
media query TABLET
*/
@media screen and (min-width: 768px) {

    #demo-app .container{
        display: flex;
        flex-wrap: wrap;
        padding: 0 0.75rem;
    }

    .container .card{
        /* width: 30%; */
        width: calc((100% / 3) - 1.5rem );
    }

    #demo-app .container .card:first-child{
        width: calc((100% / 3 * 2) - 1.5rem);
    } 

    #testimonial .item, #about-us .container{
        display: flex;
    }

    #benefits .container{
        display: flex;
        flex-wrap: wrap;
    }

    #benefits .card{
        width: calc((100% / 2) - 3rem)
    }

    #about-us{
        padding: 2rem 0;
    }
}

/*
media query DESKTOP
*/

@media screen and (min-width: 992px) {
    
    .header-container{
        padding: 0 1.5rem;
    }

    header .nav-menu{
        display: flex;
    }

    header .hamburger{
        display: none;
    }

    .container{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1.5rem;
    }

    #demo-app .container .card:first-child{
        display: flex;
    }
    
    #demo-app .card:first-child>*{
        width: 50%;
    }

    #demo-app .card:first-child .card-img{
        align-self: flex-end;
    }

    #planning .container{
        flex-direction: row;
        justify-content: center;
        padding: 6rem 5rem 3rem 5rem;
    }

    #benefits .card{
        width: calc((100% / 3) - 3rem);
    }
}






/*
REGOLE DI DEBUG
*/

/* .debug .container .header-item{
    background-color: var(--bgc-light-blue);
    padding: 30px;
}

.debug #demo-app .card{
    height: 300px;
}

.debug .card{
    background-color: #E2CBFF;
}

.debug #planning .card>*{
    padding: 20px;
} */