*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bgc-blue: #0084FD;
    --bgc-light-blue: #B5DDFF;

    --bgc-violet: #9792E5;
}

header{
    background-color: var(--bgc-blue);
    height: 100px;
}

.header-container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0.75rem;
}

.menu ul{
    display: flex;
    list-style: none;
}

#demo-app{
    margin: 1.5rem 0rem;
}

#demo-app .card{
    height: 200px;
    background-color: var(--bgc-light-blue);
    padding: 20px;
    margin: 0 0.75rem;
    margin-bottom: 1.5rem;
    border-radius: 20px;
}

#planning{
    background-color: var(--bgc-violet);
}

#planning .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0 2rem 0;
}

#planning .card{
    margin: 1.5em;
}

#testimonial .container{
    padding: 1.5rem;
}

.testimonial-text{
    text-align: center;
    margin: 2rem auto;
}

#testimonial .item{
    background-color: var(--bgc-violet);
    margin: 2rem 0;
    padding: 1.5rem;
    text-align: center;
    border-radius: 20px;
}

#testimonial .item>*{
    padding-right: 1.5rem;
}

/*
REGOLE MEDIA QUERY
*/

/*
media query TABLET
*/
@media screen and (min-width: 768px) {
    #demo-app .container{
        display: flex;
        flex-wrap: wrap;
    }

    .container .card{
        /* width: 30%; */
        width: calc((100% / 3) - 1.5rem );
    }

    .container .card:first-child{
        width: calc((100% / 3 * 2) - 1.5rem);
    } 

    #testimonial .item{
        display: flex;
    }
}

/*
media query DESKTOP
*/

@media screen and (min-width: 992px) {
    
    .header-container{
        padding: 0 1.5rem;
    }

    .container{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1.5rem;
    }

    .container .card:first-child{
        display: flex;
    }
    
    .card:first-child>*{
        width: 50%;
    }

    .card:first-child .card-img{
        align-self: flex-end;
    }

    #planning .container{
        flex-direction: row;
        justify-content: center;
        padding: 6rem 5rem 3rem 5rem;
    }

    
}






/*
regole debug
*/

.debug .container .header-item{
    background-color: var(--bgc-light-blue);
    padding: 30px;
}

.debug #demo-app .card{
    height: 300px;
}

.debug .card{
    background-color: #E2CBFF;
}

.debug #planning .card>*{
    padding: 20px;
}